# I don't want to push the code for fine-tuning right away.
fineTuning101/my_special_model/
fineTuning101/imdb.csv
RAG101/.env
RAG101/data/
fineTuning101/finetuning_gpt2_on_imdb.ipynb # main fine-tuning code.
fineTuning101/useFTModel.py # function to run the model
*.env
__pycache__/