# I don't want to push the code for fine-tuning right away.
fineTuning101
RAG101/.env
!fineTuning101/finetuning_gpt2_on_imdb.ipynb # main fine-tuning code.
!fineTuning101/imdb.csv # data set onto which model is fine-tuned.
!fineTuning101/useFTModel.py # function to run the model
!fineTuning101/my_special_model/model.safetensors # fine-tuned model